* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  box-sizing: inherit;
  --gap: 20px;
  --margin: 30px;
}

html {
  font-size: 62.75%;
  color: #333333;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}