// ===========================
// Variables
// ===========================
// $sspBreakpoint: 380px;
// $stabBreakpoint: 687px;
// $spcBreakpoint: 1024px;
// $lpcBreakpoint: 1201px;

// Root
$enFont: "Arial";
$jaFont: "Noto Sans JP";
$baseColor: #333;
$designContainer: 1920;
$baseContainer: 1200;

// Breakpoints
$spBreakpoint: 468px;
$tabBreakpoint: 768px;
$pcBreakpoint: 1200px;

// Color


// BG color